<div class="container text-center">
  <p id="notice"><%= notice %></p>
</div>

<% if current_user %>
  <div class="thoughts">
    <h1>Tweet Your Thoughts!</h1>
    <%= render 'form', tweet: @tweet %>
  </div>
<% end %>  

<div class="main">
<% @tweets.reverse.each do |tweet| %>

  <div class="card my-3" style="width: 30rem;">
  <%= image_tag(tweet.user.profile_picture, class: 'card-img-top') %>
    <div class="card-body">
      <h5 class="card-title"><%= tweet.user.username %></h5>
      <p class="card-text"><%= tweet.content %></p>
      <%= link_to(tweet, :class => 'show') do %>
      <p class="date"><%= time_ago_in_words(tweet.created_at) %> ago</p>
      <% end %>
      <p>Retweets: <%= tweet.retweet %> | Likes: <%= tweet.likes.count %></p>
      <i class="far fa-heart"></i>
    </div>
  </div>
<% end %>
</div>
  <!-- app/views/home/index.html.erb -->
...
<div class="row">
<div class="col-md-8 offset-md-2">
<%= paginate @tweets %>
</div>
</div>


